# macOS
.DS_Store

# Xcode
build/
DerivedData/
*.xcuserstate
*.xcuserdata
*.xccheckout
*.xcscmblueprint
*.xcworkspace/xcuserdata/
langlife-ios-native.xcodeproj/xcuserdata/

# SwiftPM
.build/
Package.resolved

# Carthage
Carthage/Build/

# CocoaPods
Pods/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

# Logs
*.log

# Playgrounds
timeline.xctimeline
playground.xcworkspace
